<ion-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Categoria</h1>
    </ion-header-bar>
    <ion-content>       
	<form ng-submit="save()" class="css-form">
    	<ion-list>    	           
			<input type="hidden" ng-model="model.codigo" required><!-- por si algo -->        
        	<label class="item item-input item-stacked-label">
	            <span class="input-label">Nombre</span>
				<input type="number" ng-model="model.nombre" required>
        	</label>   
        	<button class="button button-block button-positive" type="submit">{{btnName}}</button>
    	</ion-list>
	</form>
	</ion-content>
</ion-view>