<ion-view>
    <ion-header-bar class="bar-positive">
        <a class="button button-icon icon ion-chevron-left" href="#/cliente"></a>
        <h1 class="title">Cliente</h1>
    </ion-header-bar>
    <ion-content>
    <form ng-submit="form.$valid && save()" name="form" class="css-form" novalidate>
    	<ion-list>    	           
			<input type="hidden" ng-model="model.codigo" required><!-- por si algo -->        
        	<label class="item item-input item-stacked-label">
	            <span class="input-label">Cedula</span>
				<input type="number" ng-model="model.cedula" required>
        	</label>
        	<label class="item item-input">
            	<span class="input-label">Nombre</span>
            	<input type="text" ng-model="model.nombre" required>
        	</label>        
        	<label class="item item-input">
            	<span class="input-label">Telefono</span>
            	<input type="tel" ng-model="model.telefono" required>
        	</label>
        	<label class="item item-input">
	            <span class="input-label">Dirección</span>
    	        <input type="text" ng-model="model.direccion" required>
        	</label>
            <li class="item item-toggle">
                Activo
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="model.estado" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        	<button class="button button-block button-positive" ng-disabled="form.$invalid" type="submit">{{btnName}}</button>
    	</ion-list>
	</form>
	</ion-content>
</ion-view>
