<form ng-submit="save()">
    <ion-list>
<!--
        <div class="item item-body">
            <img src="delorean.jpg">
        </div>
-->
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nombre</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Código</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Descripción</span>
            <textarea style="height:60px;"></textarea>
        </label>
        <label class="item item-input">
            <span class="input-label">Stop mínimo</span>
            <input type="number">
        </label>
        <label class="item item-input">
            <span class="input-label">Stop máximo</span>
            <input type="number">
        </label>
        <label class="item item-input item-select">
            <span class="input-label">Categoría</span>
            <select>
                <option>Azul</option>
            </select>
        </label>
        <li class="item item-toggle">
            Activo
            <label class="toggle toggle-assertive">
                <input type="checkbox" checked>
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <button class="button button-block button-positive" type="submit">Guardar</button>
    </ion-list>
</form>